{% extends "rest_framework/base.html" %}
{% load extratags %}

{% block title %} Betgate REST API - Documentation{% endblock %}

{% block branding %}

<a class='navbar-brand' rel="nofollow" href='/'>
    Betgate REST API <small>{% app_version %}</small>
</a>

{% endblock %}

